.secretWeaponWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secretWeaponTitle h1 {
    max-width: 410px;
    font-family: Barlow, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    text-transform: capitalize;
    color: #152370;
}

.secretWeaponCards {
    margin-top: 55px;
    margin-bottom: 125px;
}

.secretCardRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secretWeaponCardContainer {
    max-width: 330px;
    max-height: 300px;
    padding: 73px 64px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.CardShadow {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 1px 30px rgba(111, 178, 216, 0.25);
    border-radius: 10px;
}

.secretWeaponCardContainer img{
    padding-bottom: 15px;
}

.secretWeaponCardContainer h2{
    font-family: Barlow, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #152370;
}

.secretWeaponCardContainer p {
    font-family: Barlow, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
