.navContainer {
    width: 80%;
    text-align: center;
    padding-top: 40px;
}

.navbar {
    margin: 0 auto;
}

.brand {
    margin-right: auto;
}

.dropdown, .dropleft, .dropright, .dropup {
    align-self: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
    align-self: center;
}

.navButton {
    color: white;
    padding: 17px 20px;
    margin-left: 50px;
    border: solid 2px white;
    background: transparent;
    outline: none;
    font-size: 16px;
}

